.custom-label-input .MuiFormControlLabel-label {
  font-family: Devanagari;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.025em;
}
.cutom-radio-buttons .MuiFormControlLabel-label {
  font-family: Devanagari;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.025em;
}
