.FlexBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gap1 {
  gap: 4px;
}
.gap2 {
  gap: 10px;
}

.primaryText {
  color: #000;
  font-size: 12px;
  text-decoration: underline;
}

.secondaryText {
  opacity: 0.5;
  color: #000;
  font-size: 12px;
}

.my1 {
  margin: 15px 0;
}

.heading {
  color: #000;
  font-size: 22px;
  text-transform: capitalize;
}

.table-box {
  padding: 5px;
  border: 1px solid #e6e9f0;
  border-radius: 8px;
  margin-top: 10px;
  height: 70%;
  width: 100%;
  overflow: auto;
}
.submitBtn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 20px 0;
}
