.borderCustom {
  border: 1px solid #171c8f !important;
  background-color: red;
 /* Removed unnecessary quotes */
}
.MuiIconButton-root {
  font-size: 15px;
}
.surplus-manpower .MuiDataGrid-columnHeaderTitle {
  font-weight: 600;
}
.surplus-manpower .MuiDataGrid-root .MuiDataGrid-virtualScrollerContent .MuiDataGrid-row {
  border: 1px solid #efefef;
  border-radius: 8px;
  margin-bottom: 8px;
}
.surplus-manpower .MuiDataGrid-root .MuiDataGrid-row--borderBottom .MuiDataGrid-scrollbarFiller {
  border-bottom: none !important;
}
.surplus-manpower .MuiDataGrid-root .MuiDataGrid-row--borderBottom .MuiDataGrid-columnHeader {
  border: none;
}
.surplus-manpower .MuiDataGrid-root .MuiDataGrid-cell {
  border: none;
}
.surplus-manpower .MuiDataGrid-root .MuiDataGrid-scrollbarFiller.MuiDataGrid-scrollbarFiller--borderTop {
  border: none;
}
.surplus-manpower .MuiTypography-root {
  line-height: 2rem;
}
.surplus-manpower .MuiDataGrid-virtualScrollerRenderZone {
  position: static !important;
}
