.tertiary-button-root {
  padding: 0.8rem 2.4rem !important;
  width: 100% !important;
  height: 3.2rem !important;
  top: 0rem !important;
  border-radius: 0.4rem !important;
  text-transform: capitalize !important;
  font-weight: normal !important;
  font-size: 1.4rem !important;
  line-height: 1.6rem !important;
  text-align: center !important;
  letter-spacing: -0.025em !important;
}
